# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.DS_Store
*/AdColony.framework/Versions/Current
*/AdColony.framework/Versions/A/Headers/AdColonyZone.h
*/AdColony.framework/Versions/A/Headers/AdColonyUserMetadata.h
*/AdColony.framework/Versions/A/Headers/AdColonyTypes.h
*/AdColony.framework/Versions/A/Headers/AdColonyOptions.h
*/AdColony.framework/Versions/A/Headers/AdColonyNativeAdView.h
*/AdColony.framework/Versions/A/Headers/AdColonyInterstitial.h
*/AdColony.framework/Versions/A/Headers/AdColonyEventTracker.h
*/AdColony.framework/Versions/A/Headers/AdColonyAppOptions.h
*/AdColony.framework/Versions/A/Headers/AdColonyAdRequestError.h
*/AdColony.framework/Versions/A/Headers/AdColonyAdOptions.h
*/AdColony.framework/Versions/A/Headers/AdColony.h
*/AdColony.framework/Versions/A/AdColony
*/AdColony.framework/Headers
*/AdColony.framework/AdColony
*/AppLovinSDK.framework/AppLovinSDK
*/AppLovinSDK.framework/Headers/ALAd.h
*/AppLovinSDK.framework/Headers/ALAdDisplayDelegate.h
*/AppLovinSDK.framework/Headers/ALAdLoadDelegate.h
*/AppLovinSDK.framework/Headers/ALAdRewardDelegate.h
*/AppLovinSDK.framework/Headers/ALAdService.h
*/AppLovinSDK.framework/Headers/ALAdSize.h
*/AppLovinSDK.framework/Headers/ALAdType.h
*/AppLovinSDK.framework/Headers/ALAdUpdateDelegate.h
*/AppLovinSDK.framework/Headers/ALAdVideoPlaybackDelegate.h
*/AppLovinSDK.framework/Headers/ALAdView.h
*/AppLovinSDK.framework/Headers/ALAdViewEventDelegate.h
*/AppLovinSDK.framework/Headers/ALAnnotations.h
*/AppLovinSDK.framework/Headers/ALErrorCodes.h
*/AppLovinSDK.framework/Headers/ALEventService.h
*/AppLovinSDK.framework/Headers/ALEventTypes.h
*/AppLovinSDK.framework/Headers/ALIncentivizedInterstitialAd.h
*/AppLovinSDK.framework/Headers/ALInterstitialAd.h
*/AppLovinSDK.framework/Headers/ALMediationProvider.h
*/AppLovinSDK.framework/Headers/ALNativeAd.h
*/AppLovinSDK.framework/Headers/ALNativeAdLoadDelegate.h
*/AppLovinSDK.framework/Headers/ALNativeAdPrecacheDelegate.h
*/AppLovinSDK.framework/Headers/ALNativeAdService.h
*/AppLovinSDK.framework/Headers/ALPostbackDelegate.h
*/AppLovinSDK.framework/Headers/ALPostbackService.h
*/AppLovinSDK.framework/Headers/ALPrivacySettings.h
*/AppLovinSDK.framework/Headers/ALSdk.h
*/AppLovinSDK.framework/Headers/ALSdkSettings.h
*/AppLovinSDK.framework/Headers/AppLovinSDK.h
*/AppLovinSDK.framework/Modules/module.modulemap
*/GoogleMobileAds.framework/GoogleMobileAds
*/GoogleMobileAds.framework/Headers/DFPBannerView.h
*/GoogleMobileAds.framework/Headers/DFPBannerViewOptions.h
*/GoogleMobileAds.framework/Headers/DFPCustomRenderedAd.h
*/GoogleMobileAds.framework/Headers/DFPCustomRenderedBannerViewDelegate.h
*/GoogleMobileAds.framework/Headers/DFPCustomRenderedInterstitialDelegate.h
*/GoogleMobileAds.framework/Headers/DFPInterstitial.h
*/GoogleMobileAds.framework/Headers/DFPRequest.h
*/GoogleMobileAds.framework/Headers/GADAdChoicesView.h
*/GoogleMobileAds.framework/Headers/GADAdLoader.h
*/GoogleMobileAds.framework/Headers/GADAdLoaderAdTypes.h
*/GoogleMobileAds.framework/Headers/GADAdLoaderDelegate.h
*/GoogleMobileAds.framework/Headers/GADAdNetworkExtras.h
*/GoogleMobileAds.framework/Headers/GADAdReward.h
*/GoogleMobileAds.framework/Headers/GADAdSize.h
*/GoogleMobileAds.framework/Headers/GADAdSizeDelegate.h
*/GoogleMobileAds.framework/Headers/GADAppEventDelegate.h
*/GoogleMobileAds.framework/Headers/GADAudioVideoManager.h
*/GoogleMobileAds.framework/Headers/GADAudioVideoManagerDelegate.h
*/GoogleMobileAds.framework/Headers/GADBannerView.h
*/GoogleMobileAds.framework/Headers/GADBannerViewDelegate.h
*/GoogleMobileAds.framework/Headers/GADCorrelator.h
*/GoogleMobileAds.framework/Headers/GADCorrelatorAdLoaderOptions.h
*/GoogleMobileAds.framework/Headers/GADCustomEventBanner.h
*/GoogleMobileAds.framework/Headers/GADCustomEventBannerDelegate.h
*/GoogleMobileAds.framework/Headers/GADCustomEventExtras.h
*/GoogleMobileAds.framework/Headers/GADCustomEventInterstitial.h
*/GoogleMobileAds.framework/Headers/GADCustomEventInterstitialDelegate.h
*/GoogleMobileAds.framework/Headers/GADCustomEventNativeAd.h
*/GoogleMobileAds.framework/Headers/GADCustomEventNativeAdDelegate.h
*/GoogleMobileAds.framework/Headers/GADCustomEventParameters.h
*/GoogleMobileAds.framework/Headers/GADCustomEventRequest.h
*/GoogleMobileAds.framework/Headers/GADDebugOptionsViewController.h
*/GoogleMobileAds.framework/Headers/GADDynamicHeightSearchRequest.h
*/GoogleMobileAds.framework/Headers/GADExtras.h
*/GoogleMobileAds.framework/Headers/GADInAppPurchase.h
*/GoogleMobileAds.framework/Headers/GADInAppPurchaseDelegate.h
*/GoogleMobileAds.framework/Headers/GADInterstitial.h
*/GoogleMobileAds.framework/Headers/GADInterstitialDelegate.h
*/GoogleMobileAds.framework/Headers/GADMediaView.h
*/GoogleMobileAds.framework/Headers/GADMobileAds.h
*/GoogleMobileAds.framework/Headers/GADMultipleAdsAdLoaderOptions.h
*/GoogleMobileAds.framework/Headers/GADMuteThisAdReason.h
*/GoogleMobileAds.framework/Headers/GADNativeAd.h
*/GoogleMobileAds.framework/Headers/GADNativeAdDelegate.h
*/GoogleMobileAds.framework/Headers/GADNativeAdImage+Mediation.h
*/GoogleMobileAds.framework/Headers/GADNativeAdImage.h
*/GoogleMobileAds.framework/Headers/GADNativeAdImageAdLoaderOptions.h
*/GoogleMobileAds.framework/Headers/GADNativeAdViewAdOptions.h
*/GoogleMobileAds.framework/Headers/GADNativeAppInstallAd.h
*/GoogleMobileAds.framework/Headers/GADNativeAppInstallAdAssetIDs.h
*/GoogleMobileAds.framework/Headers/GADNativeContentAd.h
*/GoogleMobileAds.framework/Headers/GADNativeContentAdAssetIDs.h
*/GoogleMobileAds.framework/Headers/GADNativeCustomTemplateAd.h
*/GoogleMobileAds.framework/Headers/GADNativeExpressAdView.h
*/GoogleMobileAds.framework/Headers/GADNativeExpressAdViewDelegate.h
*/GoogleMobileAds.framework/Headers/GADNativeMuteThisAdLoaderOptions.h
*/GoogleMobileAds.framework/Headers/GADRequest.h
*/GoogleMobileAds.framework/Headers/GADRequestConfiguration.h
*/GoogleMobileAds.framework/Headers/GADRequestError.h
*/GoogleMobileAds.framework/Headers/GADRewardBasedVideoAd.h
*/GoogleMobileAds.framework/Headers/GADRewardBasedVideoAdDelegate.h
*/GoogleMobileAds.framework/Headers/GADSearchBannerView.h
*/GoogleMobileAds.framework/Headers/GADSearchRequest.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAd+ConfirmationClick.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAd+CustomClickGesture.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAd.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAdAssetIdentifiers.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAdDelegate.h
*/GoogleMobileAds.framework/Headers/GADUnifiedNativeAdUnconfirmedClickDelegate.h
*/GoogleMobileAds.framework/Headers/GADVideoController.h
*/GoogleMobileAds.framework/Headers/GADVideoControllerDelegate.h
*/GoogleMobileAds.framework/Headers/GADVideoOptions.h
*/GoogleMobileAds.framework/Headers/GoogleMobileAds.h
*/GoogleMobileAds.framework/Headers/GoogleMobileAdsDefines.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMAdNetworkAdapterProtocol.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMAdNetworkConnectorProtocol.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedNativeAd.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedNativeAdDelegate.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedNativeAdNotificationSource.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedNativeAppInstallAd.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedNativeContentAd.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedUnifiedNativeAd.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediatedUnifiedNativeAdNotificationSource.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMediationAdRequest.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMEnums.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMRewardBasedVideoAdNetworkAdapterProtocol.h
*/GoogleMobileAds.framework/Headers/Mediation/GADMRewardBasedVideoAdNetworkConnectorProtocol.h
*/GoogleMobileAds.framework/Modules/module.modulemap
*/CHAMoatMobileAppKit.framework/CHAMoatMobileAppKit
*/CHAMoatMobileAppKit.framework/Headers
*/CHAMoatMobileAppKit.framework/LICENSE.txt
*/CHAMoatMobileAppKit.framework/VERSION.txt
*/CHAMoatMobileAppKit.framework/Versions/A/CHAMoatMobileAppKit
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAdEvent.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAdEventType.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAnalytics.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAVVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatBaseTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatBaseVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatGMAInterstitialTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatMobileAppKit.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatMPVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatNativeDisplayTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatReactiveVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatTrackerDelegate.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatWebTracker.h
*/CHAMoatMobileAppKit.framework/Versions/Current
*/Chartboost.framework/Chartboost
*/Chartboost.framework/Headers
*/Chartboost.framework/Versions/A/Chartboost
*/Chartboost.framework/Versions/A/Headers/CBAnalytics.h
*/Chartboost.framework/Versions/A/Headers/CBInPlay.h
*/Chartboost.framework/Versions/A/Headers/Chartboost.h
*/Chartboost.framework/Versions/A/Headers/ChartboostDelegate.h
*/Chartboost.framework/Versions/Current
*/CHAMoatMobileAppKit.framework/CHAMoatMobileAppKit
*/CHAMoatMobileAppKit.framework/Headers
*/CHAMoatMobileAppKit.framework/LICENSE.txt
*/CHAMoatMobileAppKit.framework/VERSION.txt
*/CHAMoatMobileAppKit.framework/Versions/A/CHAMoatMobileAppKit
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAdEvent.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAdEventType.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAnalytics.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatAVVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatBaseTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatBaseVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatGMAInterstitialTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatMobileAppKit.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatMPVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatNativeDisplayTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatReactiveVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatTrackerDelegate.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatVideoTracker.h
*/CHAMoatMobileAppKit.framework/Versions/A/Headers/CHAMoatWebTracker.h
*/CHAMoatMobileAppKit.framework/Versions/Current
*/Chartboost.framework/Chartboost
*/Chartboost.framework/Headers
*/Chartboost.framework/Versions/A/Chartboost
*/Chartboost.framework/Versions/A/Headers/CBAnalytics.h
*/Chartboost.framework/Versions/A/Headers/CBInPlay.h
*/Chartboost.framework/Versions/A/Headers/Chartboost.h
*/Chartboost.framework/Versions/A/Headers/ChartboostDelegate.h
*/Chartboost.framework/Versions/Current
*/InMobiSDK.framework/Headers/IMBanner.h
*/InMobiSDK.framework/Headers/IMBannerDelegate.h
*/InMobiSDK.framework/Headers/IMCommonConstants.h
*/InMobiSDK.framework/Headers/IMInterstitial.h
*/InMobiSDK.framework/Headers/IMInterstitialDelegate.h
*/InMobiSDK.framework/Headers/IMNative.h
*/InMobiSDK.framework/Headers/IMNativeDelegate.h
*/InMobiSDK.framework/Headers/IMRequestStatus.h
*/InMobiSDK.framework/Headers/IMSdk.h
*/InMobiSDK.framework/Headers/InMobiSDK.h
*/InMobiSDK.framework/Info.plist
*/InMobiSDK.framework/InMobiSDK
*/InMobiSDK.framework/Modules/module.modulemap
*/VungleSDK.framework/Headers/VungleSDK.h
*/VungleSDK.framework/Headers/VungleSDKCreativeTracking.h
*/VungleSDK.framework/Headers/VungleSDKHeaderBidding.h
*/VungleSDK.framework/Info.plist
*/VungleSDK.framework/VungleSDK
